{% extends 'base_layout.html'%}

{% block content %}

        <h1>Let's get cookin'!</h1>
        <div class = "recipes">
            {% for recipe in recipes %}
                <div class = "recipe">
                    <h2><a href = "{% url 'recipes:detail' slug=recipe.slug %}">{{recipe.title}}</a></h2>
                    <p>{{recipe.date}}</p>
                    <p class="author">recipe by {{recipe.author.username}}</p>
                    <p>{{recipe.snippet}}</p>
                </div>
            {% endfor %}
        </div>
{% endblock %}
