{% load static from static %}

<html>
    <head>
        <meta charset = "utf-8">
        <title>Recipes</title>
        <link rel = "stylesheet" href = "{% static 'styles.css' %}">
    </head>
    <body>
        <div class="navbar">
                <a href="{% url 'home:list' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <div class="dropdown">
                    <button class="dropbtn">Recipe Index</button>
                    <div class="dropdown-content">
                        <a href="{% url 'recipes:list' %}"class="highlight">Recipe List</a>
                        <a href="{% url 'recipes:create' %}"class="highlight">Submit your Recipe Here!</a></div></div>
                <div class="dropdown">
                    <button class="dropbtn">Fitness Index</button>
                    <div class="dropdown-content">
                         <a href="{% url 'exercises:list' %}"class="highlight">Fitness Index</a>
                         <a href="{% url 'exercises:create' %}"class="highlight">Submit Exercises Here!</a>
                    </div>
                </div>
           
            <div class="login-container">
               {% if user.is_authenticated %}
               <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Logout</button>
               </form>
               
               {% else %}
               <div class="logsign">
               <form class="login-link"action="{% url 'accounts:signup' %}">
                   <button type="submit">Signup!</button>
               </form></div>
               <div class="logsign">
                   <form class="login-link"action="{% url 'accounts:login' %}"method="post">
                       {% csrf_token %}
                       <button type="submit">Login</button>
                   </form></div>
               {% endif %}
            </div>
        </div>
       <div class ="logo">
           <h1><a href = "{% url 'home' %}"><img src = "{% static 'Logo.png' %}"/></a></h1>
        </div>
        <div class="wrapper">
           {% block content %}
           {% endblock %}
       </div>
    </body>
</html>

