{% extends 'base_layout.html'%}

{% block content %}

    <h1>Lets get movin'!</h1>
    <div class = "recipes">
        {% for exercise in exercises %}
        <div class="recipe">
                <h2><a href="{% url 'exercises:detail' slug=exercise.slug %} ">{{exercise.title}}</a></h2>
                <p>{{exercise.date}}</p>
                <p class="author">exercise by {{exercise.author.username}}</p>
                <p>{{exercise.snippet}}</p>
           </div>
        {% endfor %}
    </div>
{% endblock %}

